#simulateLabel {
    -fx-alignment: center;
    -fx-min-height: 20px;
    -fx-min-width: 150px;
    -fx-font-weight: bold;
}

#button-simulate {
    -fx-min-width: 80px;
}

.parent-pane {
    -fx-padding: 10px 0px 10px 10px;
}

.box-spacing {
    -fx-spacing: 50px;
}

.title {
    -fx-font-weight: bold;
}

.table-order-size {
    -fx-min-height: 200px;
    -fx-min-width: 300px;
    -fx-pref-height: 200px;
    -fx-pref-width: 300px;
}

.table-trade-size {
    -fx-min-height: 247px;
    -fx-min-width: 607px;
    -fx-pref-height: 247px;
    -fx-pref-width: 607px;
}

.progress-pane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-alignment: center;
}

.progress-indicator {
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 40px;
}

.right-panel {
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 0px 2px;
    -fx-max-width: 200px;
    -fx-padding: 10px 10px 10px 20px;
}

.simple-top-padding {
    -fx-padding: 10px 0px 0px 0px;
}

.double-top-padding {
    -fx-padding: 20px 0px 0px 0px;
}

.label-simulator-title {
    -fx-padding: 40px 0px 0px 0px;
    -fx-wrap-text: true;
}

.simulator-on {
    -fx-background-color: #d4edda;
    -fx-text-fill: #155724;
    -fx-border-color: #c3e6cb;
    -fx-border-width: 1px;
}

.simulator-off {
    -fx-background-color: #f8d7da;
    -fx-text-fill: #721c24;
    -fx-border-color: #f5c6cb;
    -fx-border-width: 1px;
}

.form-box {
    -fx-alignment: center-left;
}

.label-description {
    -fx-font-size: 10px;
    -fx-wrap-text: true;
}

.text-field {
    -fx-max-width: 100px;
}

.table-row-simulated {
    -fx-background-color: #f8d7da;
}

.table-row-simulated:selected {
    -fx-background-color: #721c24;
}

.table-row-simulated:selected .text {
    -fx-fill: #ffffff;
}

